<app-knowit-background></app-knowit-background>

<app-attention-bubble class="attention-bubble"></app-attention-bubble>

<div class=""></div>

<div class="container">
  <div class="card shadow-lg p-2">
    <div class="card-header bg-white mb-2">
      <h5 class="float-left">Chatbot</h5>
      <button type="button" class="close mx-auto p-0" aria-label="Close" (click)="closeChatbotWindow()">
        <span aria-hidden="true" class="float-right">&times;</span>
      </button>
    </div>
    <div class="chat-window mb-2">
      <app-messages></app-messages>
    </div>
    <div class="bottom rounded">
      <div class="border-top"> </div>
      <input id="message" type="text" placeholder="{{this.placeholderText}}"
             (keydown.enter)="sendMessage(input)" class="d-inline-block p-1" #input>

      <img src="../assets/icons/sendmessage.png" class="send-btn d-inline-block p-1"
              (click)="sendMessage(input)">
    </div>
  </div>
</div>

<button type="button" class="chatbot-button" (click)="showChatbotWindow()"></button>
