h1 {
  margin: auto;
}

.container {
  width: 400px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
}

.chat-window {
  height: 400px;
  overflow-y: auto;
  overflow-x: none;
  padding: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bottom {
  position: relative;
}

.bottom input {
  margin: 10px;
  width: 80%;
  border: none;
}

.bottom input:focus {
  outline: none;
}

.bottom input, .bottom button {
  display: inline-block;
}

.container .send-btn {
  height: 30px;
}

.chatbot-button {
  width: 50px;
  height: 50px;
  background-image: url("../assets/icons/chaticon");
  background-size: 50px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border: none;
}

.chatbot-button:hover {
  cursor: pointer;
}

::placeholder {
  font-style: italic;
}
