h1 {
  margin: auto;
}

.container {
  width: 400px;
  margin-top: 50px;
}

.chat-window {
  height: 400px;
  overflow-y: auto;
  overflow-x: none;
}

.bottom {
  position: relative;
}

input, button {
  display: inline-block;
}

button {
  position: absolute;
  top: 0;
}
