<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <title>Our clients and reference cases | Knowit</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="pXMSjVSjFv0_AaQv2VmjLA0-GzTVI2BzZWTQDegM3Bk">

</head>

<body>
<header role="banner" class="site-header ">
  <a href="#main-content" class="show-for-sr"></a>

  <a href="#" id="gray-opacity-filter" class="js-toggle-button toggle-menufield hidden" data-type="gray-filter">
    <div class="gray-opacity-cover"></div>
  </a>
  <div class="top-navigation js-top-navigation behind" id="top-navigation">
    <div class="u-container">
      <div class="row">
        <div class="columns">
          <nav role="navigation" class="top-bar" data-topbar="">

            <div class="top-icon-mobile-search">
              <a id="nav-mobile-search" class="js-toggle-button toggle-searchfield hide-for-large-up" href="#" role="button" data-type="search">
                <div class="top-icon-container js-menu-button">
                  <img loading="lazy" src="https://www.knowit.eu/Static/img/icons/icon-search.svg" alt="search icon">
                  <span class="icon-link">Search</span>
                </div>
                <div class="top-icon-container js-menu-close-button hidden">
                  <img loading="lazy" src="https://www.knowit.eu/Static/img/icons/icon-close-start.svg" alt="close icon">
                  <span class="icon-link">Close</span>
                </div>
              </a>
            </div>

            <div itemprop="logo" id="top-logotype" class="top-logotype">
              <a href="#">
                <div id="logotype-black">
                  <img loading="lazy" src="https://www.knowit.eu/Static/img/icons/logotype-black.svg" alt="knowit logo">
                </div>
                <div id="logotype-white" class="hidden">
                  <img loading="lazy" src="https://www.knowit.eu/Static/img/icons/logotype-white.svg" alt="knowit logo">
                </div>
              </a>
            </div>
            <div class="top-icons">
              <div class="top-icon">
                <a class="js-toggle-button toggle-searchfield hide-for-medium-down" href="#" role="button" data-type="search">
                  <div class="top-icon-container js-menu-button">
                    <img loading="lazy" src="https://www.knowit.eu/Static/img/icons/icon-search.svg" alt="search icon">
                    <span class="icon-link">Search</span>
                  </div>
                  <div class="top-icon-container js-menu-close-button hidden">
                    <img loading="lazy" src="https://www.knowit.eu/Static/img/icons/icon-close-start.svg" alt="close icon">
                    <span class="icon-link">Close</span>
                  </div>
                </a>
              </div>
              <div class="top-icon top-icon-country">
                <a class="js-toggle-button toggle-languagefield hide-for-medium-down" href="#" role="button" data-type="language">
                  <div class="top-icon-container js-menu-button">
                    <img loading="lazy" src="https://www.knowit.eu/Static/img/icons/icon-language.svg" alt="language icon">
                    <span class="icon-link">Country<span class="arrow"><img src="https://www.knowit.eu/Static/img/icons/icon-arrow-down.svg"></span></span>
                    </div>
                  <div class="top-icon-container js-menu-close-button hidden">
                    <img loading="lazy" src="https://www.knowit.eu/Static/img/icons/icon-close-start.svg" alt="close icon">
                    <span class="icon-link">Close</span>
                  </div>
                </a>
              </div>

              <div id="top-icon-menu-mobile" class="top-icon">
                <a id="mobilenav-icon" class="js-toggle-button toggle-menufield" href="#" role="button" data-type="menu">
                  <div id="open-menu-icon-mobile" class="top-icon-container js-menu-button">
                    <img loading="lazy" src="https://www.knowit.eu/Static/img/icons/icon-menu.svg" alt="menu icon">
                    <span id="text-menu-mobile" class="icon-link">Menu</span>
                  </div>
                  <div id="side-nav-mobile-close" class="top-icon-container js-menu-close-button hidden">
                    <img loading="lazy" src="https://www.knowit.eu/Static/img/icons/icon-close-start.svg" alt="close icon">
                    <span id="text-menu-close-mobile" class="icon-link">Close</span>
                  </div>
                </a>
              </div>
              <div id="top-icon-menu-desktop" class="top-icon">
                <a id="sidenav-icon" class="js-toggle-button toggle-menufield" href="#" role="button" data-type="menu" data-is-desktop="">
                  <div id="open-menu-icon" class="top-icon-container js-menu-button">
                    <img loading="lazy" src="https://www.knowit.eu/Static/img/icons/icon-menu.svg" alt="menu icon">
                    <span class="icon-link">Menu</span>
                  </div>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="top-search u-container hidden">
    <div class="top-search-container columns">
      <form class="top-search-form js-top-search" action="/search/" method="get">
        <input type="search" name="q" placeholder="Search here">
        <button type="submit" class="button button--magnifier-black">
          <img src="https://www.knowit.eu/Static/img/icons/icon-search.svg" alt="search icon">
        </button>
      </form>
    </div>
  </div>



  <div class="top-language u-container hidden">
    <div class="top-language-container columns">
      <div class="top-language-header">
        Choose country
      </div>
      <ul class="top-language-list">
        <li class="top-language-item">
          <a href="#"> DE - Deutschland </a>
        </li>
        <li class="top-language-item">
          <a href="#">DK - Danmark</a>
        </li>
        <li class="top-language-item active">
          <a href="#">EU - Global</a>
        </li>
        <li class="top-language-item">
          <a href="#">FI - Suomi</a>
        </li>
        <li class="top-language-item">
          <a href="#">NO - Norge</a>
        </li>
        <li class="top-language-item">
          <a href="#">SE - Sverige</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="mySidenav" class="sidenav hidden">
    <a id="side-nav-close" href="#" class="js-toggle-button toggle-menufield closebtn" data-type="menu">
      <div>
        <img loading="lazy" src="https://www.knowit.eu/Static/img/icons/icon-close-start.svg" alt="close icon">
      </div>
      <span>Close</span>
    </a>
    <div class="sidemenu-item-container">
      <div class="navigation-item">
        <a href="#" id="dropdown-children">
          <span>Services</span>
          <span class="toggle-children arrow"><img loading="lazy" src="https://www.knowit.eu/Static/img/icons/dropdown-icon.svg"></span>
        </a>
        <div id="show-children" class="show-children hidden">
          <a href="#">Digital agency</a>
          <a href="#">Management consultants</a>
          <a href="#">System solutions</a>
          <a href="#">Connectivity</a>
        </div>
      </div>
      <div class="navigation-item">
        <a href="#" id="" class="is-active">
          <span>Our clients</span>
        </a>
      </div>
      <div class="navigation-item">
        <a href="#" id="">
          <span>About us</span>
        </a>
      </div>
      <div class="navigation-item">
        <a href="#" id="">
          <span>News &amp; press releases</span>
        </a>
      </div>
      <div class="navigation-item">
        <a href="#" id="">
          <span>Investor Relations</span>
        </a>
      </div>
      <div class="navigation-item">
        <a href="#" id="">
          <span>Blogs</span>
        </a>
      </div>
      <div class="navigation-item">
        <a href="#" id="">
          <span>Contact</span>
        </a>
      </div>
    </div>
    <div class="languagefield-mobile hide-for-large-up">
      <a href="#" id="language-item-mobile"><span>Country</span><span class="arrow"><img src="https://www.knowit.eu/Static/img/icons/dropdown-icon.svg"></span></a>
      <div id="show-languages-mobile" class="show-languages-mobile hidden">
        <a href="#">DE - Deutschland</a>
        <a href="#">DK - Danmark</a>
        <a href="#">EU - Global</a>
        <a href="#">FI - Suomi</a>
        <a href="#">NO - Norge</a>
        <a href="#">SE - Sverige</a>
      </div>
    </div>
  </div>

</header>

<main id="main-content" role="main">



  <div class="customer-cases-page">
    <div class="page-intro page-intro--large knowit-color-black page-intro-color-black page-intro--bg page-intro--large" data-interchange="[https://knowit.eu/globalassets/clients3/blue-mountains.jpg/Small50, (small)],[https://knowit.eu/globalassets/clients3/blue-mountains.jpg/Medium50, (medium)],[https://knowit.eu/globalassets/clients3/blue-mountains.jpg/Large50, (large)]" style="background-image: url('https://knowit.eu/globalassets/clients3/blue-mountains.jpg/Large50')">
      <header class="page-intro_header">
        <div class="row">
          <div class="columns large-24">
            <h1 class="heading-intro knowit-color-black">Our clients</h1>
            <p style="font-size: 28px;">Together with our clients, we create the digital solutions of the future. Here are some of our clients' challenges, solutions and results. Choose a reference case by industry or business area.</p>

            <section class="link-collection link-collection--as-child link-collection--dynamic-width">
              <ul class="link-collection_link-list is-visible-panel" style="font-size: 16px;">
                <li class="link-collection_block" style="margin-right: 24px;">
                  <span class="link-collection_label">Choose industry:</span>
                </li>
                <li class="link-collection_block" style="margin-right: 24px;">
                  <a class="knowit-color-black" href="#" style="background:#FFFFFF;">Banking, finance &amp; insurance</a>
                </li>
                <li class="link-collection_block" style="margin-right: 24px;">
                  <a class="knowit-color-black" href="#" style="background:#FFFFFF;">Energy</a>
                </li>
                <li class="link-collection_block" style="margin-right: 24px;">
                  <a class="knowit-color-black" href="#" style="background:#FFFFFF;">Life science &amp; medical</a>
                </li>
                <li class="link-collection_block" style="margin-right: 24px;">
                  <a class="knowit-color-black" href="#" style="background:#FFFFFF;">Manufacturing industry</a>
                </li>
                <li class="link-collection_block" style="margin-right: 24px;">
                  <a class="knowit-color-black" href="#" style="background:#FFFFFF;">Media &amp; education</a>
                </li>
                <li class="link-collection_block" style="margin-right: 24px;">
                  <a class="knowit-color-black" href="#" style="background:#FFFFFF;">Public sector</a>
                </li>
                <li class="link-collection_block" style="margin-right: 24px;">
                  <a class="knowit-color-black" href="#" style="background:#FFFFFF;">Retail &amp; services</a>
                </li>
                <li class="link-collection_block" style="margin-right: 24px;">
                  <a class="knowit-color-black" href="#" style="background:#FFFFFF;">Telecom</a>
                </li>
              </ul>
            </section>
          </div>

          <!--<div class="columns hide-for-medium-down large-7">
</div>-->
        </div>
      </header>
    </div>
    <div id="main-page-content">
      <div id="case" class="case-filter filter js-casefilter js-casefilter-display">
        <div class="filter_list clearfix">
          <div class="row">
            <div class="columns small-24">
              <div id="filter-content" class="filter_content js-casefilter_content" style="height: 52.4px; display: block;">
                <ul>
                  <li class="facetfilter_heading u-textlink">
                    <a href="#" class="facetfilter_link is-selected">All</a>
                  </li>
                  <li class="" data-hidden-filter="False">
                    <a href="#" class="some-highlight-class">Connectivity </a>
                  </li>
                  <li class="" data-hidden-filter="False">
                    <a href="#" class="some-highlight-class">Experience </a>
                  </li>
                  <li class="" data-hidden-filter="False">
                    <a href="#" class="some-highlight-class">Insight </a>
                  </li>
                  <li class="" data-hidden-filter="False">
                    <a href="#" class="some-highlight-class">Solutions </a>
                  </li>

                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="case-list content-block-area content-block-area--auto-left-right js-scroll-load js-loadmore js-caselist">

        <div class="row">
          <div class="columns remove-padding-small-only">
            <a href="#" class="content-block">
              <article>

                <div class="content-block_image" data-url="https://knowit.eu/globalassets/clients3/assa-abloy/assa-1175x450.jpg/Small50" style="background-image: url(https://knowit.eu/globalassets/clients3/assa-abloy/assa-1175x450.jpg/Large50);">
                  <img loading="lazy" src="https://knowit.eu/globalassets/clients3/assa-abloy/assa-1175x450.jpg/Large50" title="">
                </div>

                <div class="content-block_content">
                  <div class="content-block_textblock editorial">
                    <h2 class="content-block_heading" style="font-size: 34px;">Knowit follow its client ASSA ABLOY out into the world</h2>
                    <div class="content-block_text">
                      Knowit provides application management, development and support to security company ASSA ABLOY’s IT department.
                    </div>
                    <div class="content-block_link">
                      <div class="u-underlined-link-multiline">
                        <span class="underline">Knowit follow its client ASSA ABLOY out into the world</span>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </a>
          </div>
        </div>


        <div class="row">
          <div class="columns remove-padding-small-only">
            <a href="#" class="content-block">
              <article>

                <div class="content-block_image" data-url="https://knowit.eu/globalassets/clients3/autonomous-cars/cybercom-oscar-city-1175x450-1.jpeg/Small50" style="background-image: url(https://knowit.eu/globalassets/clients3/autonomous-cars/cybercom-oscar-city-1175x450-1.jpeg/Large50);">
                  <img loading="lazy" src="https://knowit.eu/globalassets/clients3/autonomous-cars/cybercom-oscar-city-1175x450-1.jpeg/Large50" title="">
                </div>


                <div class="content-block_content">
                  <div class="content-block_textblock editorial">
                    <h2 class="content-block_heading" style="font-size: 34px;">Technology for autonomous cars</h2>
                    <div class="content-block_text">
                      Entertain the thought. It is time to go home and you order a car to the office, get in and settle into your seat. Once you arrive, you get out and the car drives away – no garage needed and you do not need to think about finding a parking space.
                    </div>
                    <div class="content-block_link">
                      <div class="u-underlined-link-multiline">
                        <span class="underline">Technology for autonomous cars</span>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </a>
          </div>
        </div>


        <div class="row">
          <div class="columns remove-padding-small-only">
            <a href="#" class="content-block">
              <article>

                <div class="content-block_image" data-url="https://knowit.eu/globalassets/clients3/sodersjukhuset/sodersjukhuset-1175x450.jpg/Small50" style="background-image: url(https://knowit.eu/globalassets/clients3/sodersjukhuset/sodersjukhuset-1175x450.jpg/Large50);">
                  <img loading="lazy" src="https://knowit.eu/globalassets/clients3/sodersjukhuset/sodersjukhuset-1175x450.jpg/Large50" title="">
                </div>


                <div class="content-block_content">
                  <div class="content-block_textblock editorial">
                    <h2 class="content-block_heading" style="font-size: 34px;">Compliance Portal – valuable IT support at S&#246;dersjukhuset</h2>
                    <div class="content-block_text">
                      Knowit Compliance Portal is a portal solution for compliance management.
                    </div>
                    <div class="content-block_link">
                      <div class="u-underlined-link-multiline">
                        <span class="underline">Compliance Portal – valuable IT support at S&#246;dersjukhuset</span>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </a>
          </div>
        </div>


        <div class="row">
          <div class="columns remove-padding-small-only">
            <a href="#" class="content-block">
              <article>

                <div class="content-block_image" data-url="https://knowit.eu/globalassets/clients3/hiab/hiab-case-1175x450.jpg/Small50" style="background-image: url(https://knowit.eu/globalassets/clients3/hiab/hiab-case-1175x450.jpg/Large50);">
                  <img loading="lazy" src="https://knowit.eu/globalassets/clients3/hiab/hiab-case-1175x450.jpg/Large50" title="">
                </div>


                <div class="content-block_content">
                  <div class="content-block_textblock editorial">
                    <h2 class="content-block_heading" style="font-size: 34px;">HIAB – From Business innovation to Commercial launch</h2>
                    <div class="content-block_text">
                      Knowit was awarded the trust to lead the full project from start including working with the service design and validate suppliers of IoT platforms.
                    </div>
                    <div class="content-block_link">
                      <div class="u-underlined-link-multiline">
                        <span class="underline">HIAB – From Business innovation to Commercial launch</span>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </a>
          </div>
        </div>

        <div class="js-loadmore_pagination loadmore">
          <a href="#" class="js-loadmore_next button button--bordered">More cases</a>
        </div>

      </div>
    </div>
  </div>



  <a class="scroll-to-top" href="#">
    <div class="icon-caret-down"></div>
    <span>Back to top</span>
  </a>

</main>
<footer role="contentinfo" class="site-footer">

  <nav class="footer-link-section">
    <div class="row">
      <div class="columns">

        <div class="site-footer-link-blocks">
          <section class="site-footer-link-block">
            <h2>Company</h2>

            <ul>

              <li>
                <a href="#" target="_top" title="About Knowit">About Knowit</a>
              </li>

              <li>
                <a href="#" title="News and press releases">News and press releases</a>
              </li>

              <li>
                <a href="#" title="Financial information">Financial information</a>
              </li>

              <li>
                <a href="#">Cookies</a>
              </li>

              <li>
                <a href="#">Handling of Personal Data</a>
              </li>

              <li>
                <a href="#" target="_blank" title="Whistleblower" rel="noopener noreferrer">Whistleblower</a>
              </li>

              <li>
                <a href="#">Contact us</a>
              </li>

            </ul>
          </section>

          <section class="site-footer-link-block">
            <h2>Services</h2>

            <ul>

              <li>
                <a href="#">Connectivity</a>
              </li>

              <li>
                <a href="#" title="Digital agency">Digital agency</a>
              </li>

              <li>
                <a href="#" title="IT solutions">IT solutions</a>
              </li>

              <li>
                <a href="#" title="Management consulting">Management consulting</a>
              </li>

              <li>
                <a href="#" title="Customers and cases">Customers and cases</a>
              </li>

              <li>
                <a href="#">Our blogs</a>
              </li>

              <li>
                <a href="#">Career</a>
              </li>

            </ul>
          </section>


          <section class="site-footer-link-block">
            <h2>Languages</h2>

            <ul>

              <li>
                <a href="#" title="DE - Deutschland">DE - Deutschland</a>
              </li>

              <li>
                <a href="#" target="_top" title="DK - Danmark">DK - Danmark</a>
              </li>

              <li>
                <a href="#" target="_top" title="FI - Suomi">FI - Suomi</a>
              </li>

              <li>
                <a href="#" title="NO - Norge">NO - Norge</a>
              </li>

              <li>
                <a href="#" title="SE - Sverige">SE - Sverige</a>
              </li>

            </ul>
          </section>

        </div>


        <section class="footer-media-section">
          <ul><li><a href="#" target="blank" class="social-media ">
	<span class="footer-media-icon" style="	background: transparent url('https://knowit.eu/globalassets/system/icons-and-logotypes/social-media-new-design/icon-facebook-clay.svg') no-repeat scroll 0 0; background-position: 50% 50%; background-size: cover;
"></span>

          </a>


          </li><li><a href="#" target="blank" class="social-media ">
	<span class="footer-media-icon" style="	background: transparent url('https://knowit.eu/globalassets/system/icons-and-logotypes/social-media-new-design/icon-twitter-clay.svg') no-repeat scroll 0 0; background-position: 50% 50%; background-size: cover;
"></span>

          </a>


          </li><li><a href="#" target="blank" class="social-media ">
	<span class="footer-media-icon" style="	background: transparent url('https://knowit.eu/globalassets/system/icons-and-logotypes/social-media-new-design/icon-linkedin-clay.svg') no-repeat scroll 0 0; background-position: 50% 50%; background-size: cover;
"></span>

          </a>


          </li><li><a href="#" target="blank" class="social-media ">
	<span class="footer-media-icon" style="	background: transparent url('https://knowit.eu/globalassets/system/icons-and-logotypes/social-media-new-design/icon-instagram-clay.svg') no-repeat scroll 0 0; background-position: 50% 50%; background-size: cover;
"></span>

          </a>


          </li></ul>
        </section>

      </div>
    </div>
  </nav>

  <section class="footer-contact-section">
    <div class="hide-for-print">
      <ul>
        <li>&copy; 2021 Knowit AB</li>
        <li><a title="Knowit AB" href="#">Headquarter: Klarabergsgatan 60 - Stockholm</a></li>
      </ul>
    </div>
    <div class="footer-contact-section_print show-for-print">

    </div>
  </section>

</footer>
<script type="text/javascript" src="https://dl.episerver.net/13.4.4.1/epi-util/find.js"></script>
<script type="text/javascript">
  if(FindApi){var api = new FindApi();api.setApplicationUrl('/');api.setServiceApiBaseUrl('/find_v2/');api.processEventFromCurrentUri();api.bindWindowEvents();api.bindAClickEvent();api.sendBufferedEvents();}
</script>

<script>
  var targets = document.querySelectorAll('[data-interchange]');
  var deviceWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
  var targetSize = "Small50";
  if (deviceWidth > 640) {
    targetSize = deviceWidth >= 1025 ? "Large50" : "Medium50";
    for (var i = 0; i < targets.length; i++) {
      if (targets[i].getAttribute('data-interchange').indexOf(targetSize) !== -1) {
        if (targets[i].tagName.toLocaleLowerCase() === "div") {
          targets[i].style.backgroundImage = window.getComputedStyle(targets[i]).getPropertyValue('background-image').replace("Small50", targetSize);
        } else if (targets[i].tagName.toLocaleLowerCase() === "img") {
          targets[i].src = targets[i].src.replace("Small50", targetSize);
        }
      }
    }
  }
</script>
</body>
</html>
